* {
    /* margin: 0;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px; */
    /* overflow: hidden; */
  }
.wrapper{
    display: flex;
    height: 800px;
    margin-top: 0px;
    margin-bottom: -50px;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    background-image: linear-gradient(to top right, #ef701b, #09efb1);
    z-index: 999;
    width: 100%;
}


.form {
    height: 100vh;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.loginInput {
    background: transparent;
    outline: none;
    width: 100%;
    border: 1px solid red;
    height: 40px;
    font-size: 18px;
    border-radius: 6px;
    padding: px;  
    transition: ease 0.25s;
}

.loginInput:focus + .formLabel, .loginInput:not(:placeholder-shown) + .formLabel{
    top: 0px;
    background-color: #fff;
    color: red;
    padding: 0 10px;
    margin: 0 10px;
}
.formLabel {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 30px;
    user-select: none;
    color: #999;
    transition: ease 0.25s;
}



.loginInput:focus {
    box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.5);
}

.submitForm{
    width: 100%;
    height: 60px;
    margin-top: auto;
    border: none;
    background-color: red;
    color: white;
    font-size: 18px;
    transition: ease 0.25s;
    border-radius: 10px;
}

.submitForm:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.5);

}

.outside{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}